.wrapper {
  background-color: rgb(234, 237, 237);
  height: 80vh;
}

.heading {
  color: rgb(251, 130, 0);
}

.heading_wrapper {
  margin-bottom: 10px;
}

.para {
  padding-left: 40px;
  padding-right: 40px;
}

@media only screen and (max-width: 767px) {
  .para {
    padding-left: 20px;
    padding-right: 20px;
    text-align: start;
  }
}
